.reg-button {
    -fx-text-fill: #637381;
    -fx-font-size: 14px;
    /*-fx-font-weight: 200;*/
    -fx-padding: 5px 10px;
    -fx-background-color: #f1f1f1;
    -fx-background-radius: 5px;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-font-family: "Arial Rounded MT Bold";
}

.reg-button:hover {
    -fx-background-color: #ebf6ff;
    -fx-text-fill: #419ed1;
}

.new-button:hover {
    -fx-background-color: #EBF8F4;
    -fx-text-fill: #16AE7C;
}

.delete-button:hover {
    -fx-background-color: #FFEFEF;
    -fx-text-fill: #FF3232;
}

.labels {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-text-fill: #cdd2d6;
    -fx-font-size: 14px;
}

.scene-title {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 18px;
    -fx-text-fill: #24292E;
}

.h-box {
    -fx-background-color: rgba(244, 246, 248, 0.28); /* Background color */
    -fx-border-color: rgba(220, 220, 220, 0.57); /* Border color */
    -fx-border-style: solid; /* Border style */
    -fx-border-width: 1px 0; /* Top and bottom border width */
    -fx-padding: 5px; /* Optional padding */
}

