.reg-button {
    -fx-text-fill: #637381;
    -fx-font-size: 12px;
    /*-fx-font-weight: 200;*/
    -fx-padding: 5px 10px;
    -fx-background-color: #f1f1f1;
    -fx-background-radius: 5px;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-font-family: "Arial Rounded MT Bold";
}

.reg-button:hover {
    -fx-background-color: #ebf6ff;
    -fx-text-fill: #419ed1;
}