.post-background{
    -fx-background-color: #FFFFFF;
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.02), 5.0,0.0,0.0,5.0);
}

.txtLabel {
    -fx-text-fill: #637381;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-font-family: "Arial Rounded MT Bold";
}

.round-button{
    -fx-background-color: #fafafa;
    -fx-background-radius: 50;
}

.no-bg-button{
    -fx-background-color: transparent;
    -fx-background-radius: 50;
}

.sidebar-container {
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-border-color: #d7d7d7;
    -fx-border-width: 0 2px 0 0;
    -fx-border-style: dashed;
}

.sidebar-button {
    -fx-text-fill: #637381;
    -fx-font-size: 14px;
    /*-fx-font-weight: 200;*/
    -fx-padding: 10px 20px;
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-font-family: "Arial Rounded MT Bold";
}

.sidebar-button:hover {
    -fx-background-color: #ebf6ff;
    -fx-text-fill: #419ed1;
}

.reg-button {
    -fx-text-fill: #637381;
    -fx-font-size: 14px;
    /*-fx-font-weight: 200;*/
    -fx-padding: 5px 10px;
    -fx-background-color: #f1f1f1;
    -fx-background-radius: 5px;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-font-family: "Arial Rounded MT Bold";
}

.reg-button:hover {
    -fx-background-color: #ebf6ff;
    -fx-text-fill: #419ed1;
}
