.post-background{
    -fx-background-color: #FFFFFF;
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.02), 5.0,0.0,0.0,5.0);
}

.round-button{
    -fx-background-color: #fafafa;
    -fx-background-radius: 50;
}

.no-bg-button{
    -fx-background-color: transparent;
    -fx-background-radius: 50;
}

.sidebar-container {
    -fx-background-color: rgba(255, 255, 255, 0.8); /* White background with 80% opacity */
    -fx-border-color: #909090; /* Super light gray border */
    -fx-border-width: 0 1px 0 0; /* Border on the right side only */
    -fx-border-style: dashed; /* Dashed border */
}


.sidebar-button {
    -fx-text-fill: #637381; /* White text */
    -fx-font-size: 14px;
    /*-fx-font-weight: 200;*/
    -fx-padding: 10px 20px;
    -fx-background-color: transparent; /* Transparent background */
    -fx-background-radius: 5px;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-font-family: "Arial Rounded MT Bold";
}

.sidebar-button:hover {
    -fx-background-color: #D8F5E8; /* Background color on hover */
    -fx-text-fill: #00A76F; /* Text color on hover */
}
