.centered-cell {
    -fx-alignment: center;
}

.table-view {
    -fx-background-color: #f0f0f0;
}

.table-row-cell {
    -fx-background-color: #ffffff;
    -fx-border-color: transparent transparent #e0e0e0 transparent;
}

.table-row-cell:selected {
    -fx-background-color: #cce6ff;
}

.table-column {
    -fx-alignment: CENTER;
}

.table-header-background {
    -fx-background-color: #4d4d4d;
}

.table-header-background .label {
    -fx-text-fill: white;
}

.table-cell {
    -fx-alignment: CENTER;
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

.table-cell:selected {
    -fx-background-color: #cce6ff;
}
