.table-view {
    -fx-border-color: #ededed;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-border-collapse: collapse;
    -fx-width: 100%;
    -fx-border-radius: 5px;
    -fx-background-color: #fff; /* Setting a default background color */
}

.table-view .column-header .label {
    -fx-alignment: CENTER_LEFT;
}

.table-view .column-header#updateColumn .label,
.table-view .column-header#deleteColumn .label {
    -fx-alignment: CENTER;
}

.table-view .column-header {
    -fx-font-weight: bold;
    -fx-text-fill: #fff; /* Header text color */
}

.table-view .table-row-cell:selected {
    -fx-background-color: rgba(33, 43, 54, 0.47);
    -fx-border-color: transparent;
    -fx-text-fill: white;
}
/*.table-view .table-row-cell:odd {*/
/*    -fx-background-color: #fff; !* Alternating row color *!*/
/*}*/

/*.table-view .table-row-cell:even {*/
/*    -fx-background-color: #F8F8F8; !* Alternating row color *!*/
/*}*/

/*.table-view .column-header#employeeIdColumn .label,*/
/*.table-view .column-header#employeeNameColumn .label,*/
/*.table-view .column-header#employeeNameColumn .label,*/
/*.table-view .column-header#fromColumn .label,*/
/*.table-view .column-header#toColumn .label,*/
/*.table-view .column-header#daysWorkedColumn .label,*/
/*.table-view .column-header#totalDeductionColumn .label,*/
/*.table-view .column-header#totalAllowanceColumn .label,*/
/*.table-view .column-header#grossPayColumn .label,*/
/*.table-view .column-header#grossPayColumn .label,*/
/*.table-view .column-header#netPayColumn .label*/